<h1>
    Create Ingredient Page
</h1>

<form action="/ingredient/create" method="POST" enctype="multipart/form-data">
    <div>
        <label for=""> Name :</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for=""> Quantity :</label>
        <input type="text" name="quantity">
    </div>
    <div>
        <label for=""> Ingredient Image :</label>
        <input type="file" name="ingImage">
    </div>
    <button type="submit">Create ingredient</button>
</form>